<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Huesped</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item id="item">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['name']">
              <div class="errormessages" *ngIf="(myForm.get('name').dirty || myForm.get('name').touched) && myForm.get('name').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item id="item">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['phone']">
              <div class="errormessages" *ngIf="(myForm.get('phone').dirty || myForm.get('phone').touched) && myForm.get('phone').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-col>
            <ion-item>
              <ion-label>Fecha Ingreso</ion-label>
              <ion-datetime-button slot="end" datetime="checkin"></ion-datetime-button>
            </ion-item>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="checkin" presentation="date" 
                [showDefaultButtons]="true" formControlName="checkin"></ion-datetime>
              </ng-template>
            </ion-modal>          
          <div>
            <ng-container *ngFor="let item of validatorMessages['checkin']">
              <div class="errormessage" *ngIf="(myForm.get('checkin').dirty || 
              myForm.get('checkin').touched) && myForm.get('checkin').hasError(item.type) ">
              {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Fecha de salida</ion-label>
              <ion-datetime-button slot="end" datetime="checkout"></ion-datetime-button>
            </ion-item>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="checkout" presentation="date" 
                [showDefaultButtons]="true" formControlName="checkout"></ion-datetime>
              </ng-template>
            </ion-modal>          
          <div>
            <ng-container *ngFor="let item of validatorMessages['checkout']">
              <div class="errormessage" *ngIf="(myForm.get('checkout').dirty || 
              myForm.get('checkout').touched) && myForm.get('checkout').hasError(item.type) ">
              {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
          <ion-item id="item">
            <ion-select interface="popover" formControlName="room" placeholder="Selecciona la habitación">
              <ng-container *ngFor="let r of rooms">
              <ion-select-option [value]="r">{{ r }}</ion-select-option>
            </ng-container>
            </ion-select>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validatorMessages['room']">
              <div class="errormessages" *ngIf="(myForm.get('room').dirty || myForm.get('room').touched) && myForm.get('room').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="myForm.valid">
    <ion-fab-button (click)="newHuesped(myForm.value)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
