div{
    padding: 10px;
}
.bold{
    font-weight: bold;
}
img{
    height: 200px;
}
.aviso{
    font-size: .8rem;
    color: gray;
}
div{
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}