<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>infoHuesped</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>
          {{huespeds.name}}
          <ion-chip color="primary" class="ion-float-right">
            <ion-label>{{huespeds.room}}</ion-label>
          </ion-chip>
          
        </ion-label>
      </ion-card-title>
      <ion-card-subtitle>
        <h2>{{huespeds.phone}}</h2>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h2>
        Fecha entrada: {{huespeds.checkin.substring(0,10)}}
      </h2>
      <br>
      <h2>
        Fecha salida: {{huespeds.checkout.substring(0,10)}}
      </h2>
    </ion-card-content>
  </ion-card>
</ion-content>
