<ion-header>
  <ion-toolbar>
    <ion-title>Huespedes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let item of huespeds; let i = index">
          <ion-item lines="full" class="item">
            <div>
              <ion-text>
                {{item.name}}
              </ion-text>
            </div>
            <div class="fecha">
              <p>
                <ion-text>Fecha de ingreso: </ion-text>
                <ion-text color="success">{{item.checkin.substring(0,10)}}</ion-text>
              </p>
              <p>

                <ion-text>Fecha de salida: </ion-text>
                <ion-text color="danger">{{item.checkout.substring(0,10)}}</ion-text>
              </p>
            </div>
            <div>
              <p>
                <ion-label slot="end">Habitación:</ion-label>
              </p>
              <p  *ngIf="item.room == 'León'">
                <ion-label>{{item.room}}</ion-label>
              </p>
              <p  *ngIf="item.room == 'Elefante'">
                <ion-label>{{item.room}}</ion-label>        
                    </p>
            </div>
            <div>
              <ion-chip color="success" outline="true" class="ion-float-right" (click)="enviarToken(item.token,item.phone)" >
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-chip>
            </div>
          </ion-item>

          <ion-item-options side="end" (ionSwipe)="removeHuesped(item.token)">
            <ion-item-option expandable color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>

      </ion-list>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newHuesped()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>